[submodule "engine/ext/glfw"]
	path = engine/ext/glfw
	url = ../../glfw/glfw.git
[submodule "engine/ext/glm"]
	path = engine/ext/glm
	url = ../../g-truc/glm.git
[submodule "engine/ext/imgui/imgui"]
	path = engine/ext/imgui/imgui
	url = ../../ocornut/imgui.git
[submodule "engine/ext/assimp"]
	path = engine/ext/assimp
	url = ../../assimp/assimp.git
